<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".announce_about_html", hreftutorial:link_to(t(".title_about_detail"),
    t(".link_about")),book: link_to(t(".link_book_detail"), t(".link_book")),
    screencast: link_to(t(".link_screencast_detail"),t(".link_screencast")) %>

